<section id="cta">
  <div class="relative bg-darkBlue mx-auto px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-16 py-[3rem] sm:py-[4rem] md:py-[5rem] lg:py-[6rem] xl:py-[7rem] 2xl:py-[8rem] rounded-2xl w-4/5 text-white">
    <div class="flex flex-col items-center gap-y-10">
      <h2 class="font-bold text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl capitalize leading-tight">
        Join the financial revolution <br />with Foster Coin today.
      </h2>
        <a
          href="create"
          class="bg-white py-2 md:py-3 rounded-md w-48 text-center text-darkBlue"
          >Get Started</a
        >
      </div>
      <img
          class="bottom-0 left-[3%] absolute w-[2rem] sm:w-[4rem] md:w-[6rem] lg:w-[8rem] xl:w-[10rem]"
          src="/Images/landingCoinRight.svg"
          alt="A coin"
        />
        <img
          class="-top-8 xl:-top-12 2xl:-top-20 right-4 absolute w-[6rem] sm:w-[8rem] md:w-[10rem] lg:w-[12rem] xl:w-[14rem] 2xl:w-[20rem]"
          src="/Images/landingCoinTopRight.svg"
          alt="A coin"
        />
  </div>
</section>
